.spooky-header-txt {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.spooky-slam-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 413px;
  margin: auto;
  padding: 10px;
  vertical-align: center;
}

.vote-title {
  position: relative;
  text-align: center;
}

input[type="file"] {
  display: none;
}
